{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}
<div class="content">
    <div class="box" id="heading">
        <h1>To-Do List</h1>
    </div>

    <div class="box">
      <table>
        <tr>
            <th><h3>S/N</h3></th>
            <th><h3>S/N Task Decription</h3></th>
            <th><h3>Email of Person Responsible</h3></th>
            <th><h3>Priority Level</h3></th>
        </tr>
        
        {% for task in tasks %}
            <tr>
                <td><p>{{ loop.index }}</p></td>
                <td><p>{{ task[0] }}</p></td>
                <td><p>{{ task[1] }}</p></td>
                <td><p>{{ task[2] }}</p></td>
            </tr>
        {% endfor %}
    </table>
    <p></p>
    <form class="item" action="/submit" method="POST">
        <input type="text" name="task" placeholder="Enter Task Description" autofocus>
        <input type="email" name="email" placeholder="Email of Resposible Officer">
        <input type="text" name="priority" placeholder="Enter Priority Level">
        <input type="submit" value="+">
    </form>
    <p></p>
    <form action="/clear">
        <button type="submit">Clear</button>
    </form>
    <p></p>
    </div>

</div>
{% endblock %}